<h2 style="margin-top: 0;">Alleva Test</h2>
<p>
    Welcome to the Alleva test application. This is a simple AngularJS app
    which you will be using to demonstrate your skills in migrating AngularJS
    code to modern Angular.
</p>
<p>The goal of this exercise is for you to:</p>
<ul>
    <li>Identify the AngularJS code that needs to be migrated.</li>
    <li>Identify the Angular 2+ code that needs to be written (use TypeScript).</li>
    <li>Identify and Refactor any AngularJS non-standard code practices when converting. </li>
    <li>Use the Angular CLI to build the application.</li>
    <li>Write and test the new Angular 2+ code.</li>
    <li>The application must maintain the current routes.</li>
    <li>The application must use SCSS for styling.</li>
    <li>The application should maintain an index page.</li>
    <li>Ensure the application works as expected.</li>
    <li>Models should be immutable.</li>
    <li>Make good use of comments, and self-documenting code. No comments in markup.</li>
</ul>
<p>Bonus points:</p>
<ul>
    <li>Forms should use proper validation techniques.</li>
    <li>Application should use proper type checking (no "any" types for instance).</li>
    <li>Add meta to Routes (e.g. page title).</li>
    <li>Implement a good linting strategy.</li>
    <li>Implement a good directory structure.</li>
    <li>Use loading indicators where necessary.</li>
</ul>
<!-- <a type="button" ng-href="{{ link }}">Next page</a> -->